<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miniproj.paragchaudhari.tathastu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tathastu"
        android:roundIcon="@drawable/palm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Navin"></activity>
        <activity android:name=".listviewactivity2" />
        <activity android:name=".know9" />
        <activity android:name=".know8" />
        <activity android:name=".know7" />
        <activity android:name=".know6" />
        <activity android:name=".know5" />
        <activity android:name=".know4" />
        <activity android:name=".know3" />
        <activity android:name=".know2" />
        <activity android:name=".know1" />
        <activity android:name=".knowledge" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".CompassActivity"
            android:label="Compass" />
    </application>

</manifest>